node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Supabase
.env
.env.local
.env.production
supabase/.branches
supabase/.temp

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
